<!DOCTYPE html>
<html lang="en">
<head>
       <title>update</title>
</head>
<body>
    <h1>{{content}}</h1>
    {% for task in total.split("\n") %}
        {{task}}<br>
    {% endfor %}
    <form action="http://127.0.0.1:5000/upd" method="POST">

        
        
        <label>Task:</label>
        <input type="text" placeholder="Task name"  name="task" value="" > <br>
        <label>Task number:</label>
        <input type="number" placeholder="Task number"  name="number" value="" ><br>
        <label >State:</label>
        <input type="text" value="False" placeholder="State"  name="state"><br>
        <label>submit:</label>
        <button type="submit" ><a>Submit</a></button>
</body>
</html>